<section class="liftoff-projects">

  <div class="projectheader">
    <span class="projectcount">12</span><span class="projecttitle">projects<br>launched</span><br>

    <div class="launchtoday">

    <a class="typeform-share link" href="https://starttoday.typeform.com/to/qkyqZx" data-mode="2" target="_blank">Launch Your Project Today</a>  
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

    <br><%= link_to pages_webdesign_path do %>Learn More<% end %>
    </div>

   

  </div>

  <div class="programliftoff nodisplay">
    <h1>Program Liftoff</h1>

    <p>We specialized in launching new ideas and businesses.  While building our own projects, we also offer to help other creatives and entrepreneurs.  Program liftoff allows you to get a professional web presence in weeks.  Program liftoff provides everything an entrepreneur or creative will need to advance their venture online and allow them to focus on what they love.  We excel at creating unique ideas and concepts.  If you need custom and advanced work, we can help get your project off the ground.  We provide web services ranging from websites, web apps and full ecommerce websites.  Get a quote in 48 hours.</p>

        <a class="typeform-share link" href="https://starttoday.typeform.com/to/qkyqZx" data-mode="2" target="_blank">Launch Your Project Today</a>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>


  </div>

	<%= image_tag 'ishdone.png', :class => "spaceshipsite-image2" %>

	<%= link_to "http://www.plugsapp.com", :target => "_blank" do %>
	<%= image_tag 'spaceship-plugs-site.png', :class => "spaceshipsite-image" %>
	<% end %>

	<%= link_to "http://www.dailylyric.com", :target => "_blank" do %>
	<%= image_tag 'spaceship-dailylyric-site.png', :class => "spaceshipsite-image" %>
	<% end %>

	<%= link_to "http://www.rhymesanddesigns.com", :target => "_blank" do %>
	<%= image_tag 'spaceship-rnd-site.png', :class => "spaceshipsite-image" %>
	<% end %>

	<div class="spaceship-box">
    <h1>Our Mission</h1>
		<p>it's a spaceship is platform to launch different ideas and concepts.  It is a incubator and accelerator of tech businesses, cool ideas and cultural projects. We love launching new and exciting ideas, so each month or two we will be launching new concepts of our own to test in the market. Each idea will be either turn into a lifestyle business, passive income, killed off, given to a team to manage or hopefully into a high growth startup.  Our overall goal is to create a platform right here in Charlotte to launch creative, tech and cultural concepts.</p>

		<p>With that being said, we are looking for individuals who are want to learn how to build apps, websites and businesses and can bring something to the table. This will be a great opportunity to be a part of something with potential to grow.  I'm looking to build a diverse team of different backgrounds and perspectives.  Also looking for investors and partners to help with resources as the team and ideas expand.</p>

		<p>While building cool concepts for ourselves, we also provide web design services for others. <%= link_to "Checkout our portfolio", pages_webdesign_path %> and learn how we can build something unique for your brand. We are also partners with an interactive agency, <%= link_to "330 Monday", "http://www.330monday.com" %>, where we can help with marketing and engaging with your target market.</p>

		<p>My team and I love doing cultural projects and expanding the community.  We provide more details on the cool projects we got coming up soon.  Make sure to sign up if you are interested in seeing what we come up with and helping out the process with feedback.</p>

		<p>CC Evans</p>

	</div>

<div class="spaceship-signup">
		<style>
  .gumroad-follow-form-embed {
    zoom: 1; }
    .gumroad-follow-form-embed:before, .gumroad-follow-form-embed:after {
      display: table;
      line-height: 0;
      content: ""; }
    .gumroad-follow-form-embed:after {
      clear: both; }
    .gumroad-follow-form-embed * {
      margin: 0;
      border: 0;
      padding: 0;
      outline: 0;
      box-sizing: border-box !important;
      float: left !important; }
    .gumroad-follow-form-embed input {
      border-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 15px;
      line-height: 20px;
      background: #fff;
      border: 1px solid #ddd;
      border-right: 0;
      color: #aaa;
      padding: 10px;
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02);
      background-position: top right;
      background-repeat: no-repeat;
      text-rendering: optimizeLegibility;
      font-smoothing: antialiased;
      -webkit-appearance: none;
      -moz-appearance: caret;
      width: 65% !important;
      height: 40px !important; }
    .gumroad-follow-form-embed button {
      border-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
      -webkit-transition: all .05s ease-in-out;
      transition: all .05s ease-in-out;
      display: inline-block;
      padding: 11px 15px 12px;
      cursor: pointer;
      color: #fff;
      font-size: 15px;
      line-height: 100%;
      font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
      background: #000;
      border: 1px solid #000;
      height: 40px !important;
      width: 35% !important; }
</style>
<form action="https://gumroad.com/follow_from_embed_form" class="form gumroad-follow-form-embed" method="post">
<input name="seller_id" value="2086268218845" type="hidden">
<input name="email" placeholder="Your email address" type="email">
<button type="submit">Subscribe</button>
</form>

</div>


</section>

<script>
  $('#learnclick').click(function(){
    $('.programliftoff').removeClass('nodisplay');
  });
</script>