<section class="liftoff-projects">

	<%= image_tag 'greatwork.png', :class => "spaceshipsite-image3" %>

	<%= link_to pages_webdesign_path do %>
	<%= image_tag 'spaceship-service-webdesign.png', :class => "spaceshipsite-image4" %>
	<% end %>

	<%= link_to "http://www.330monday.com" do %>
	<%= image_tag 'spaceship-service-330monday2.png', :class => "spaceshipsite-image6" %>
	<% end %>


</section>

<section class="block-hire-service">
		<div class="hire-box">
			<div class="hire-box2">
				<h1>Ready To Launch?</h1><div class="clear"></div>
				<h4>Available for freelance, contract work and business projects.</h4>
				<div class="clear"></div>

				<h2>Contact Me</h2>
				<ul>
					<li>Email at cc@ccevans.com</li>
					<li>Text at 704-458-3043</li>

				</ul>
			</div>

			<%= image_tag 'space-launch.png', :class => "block-image4" %>


		</div>

</section> 