<section class="block-story">

		<%= image_tag 'itsaspaceship-blue.png', :class => "spaceship-image" %>

<div class="spaceship-signup">
		<style>
  .gumroad-follow-form-embed {
    zoom: 1; }
    .gumroad-follow-form-embed:before, .gumroad-follow-form-embed:after {
      display: table;
      line-height: 0;
      content: ""; }
    .gumroad-follow-form-embed:after {
      clear: both; }
    .gumroad-follow-form-embed * {
      margin: 0;
      border: 0;
      padding: 0;
      outline: 0;
      box-sizing: border-box !important;
      float: left !important; }
    .gumroad-follow-form-embed input {
      border-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 15px;
      line-height: 20px;
      background: #fff;
      border: 1px solid #ddd;
      border-right: 0;
      color: #aaa;
      padding: 10px;
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02);
      background-position: top right;
      background-repeat: no-repeat;
      text-rendering: optimizeLegibility;
      font-smoothing: antialiased;
      -webkit-appearance: none;
      -moz-appearance: caret;
      width: 65% !important;
      height: 40px !important; }
    .gumroad-follow-form-embed button {
      border-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
      -webkit-transition: all .05s ease-in-out;
      transition: all .05s ease-in-out;
      display: inline-block;
      padding: 11px 15px 12px;
      cursor: pointer;
      color: #fff;
      font-size: 15px;
      line-height: 100%;
      font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
      background: #e74d3c;
      border: 1px solid #d04536;
      filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7362, endColorstr=#d64738, GradientType=0)";
      background: -webkit-linear-gradient(top, #ff7362, #d64738);
      background: linear-gradient(to bottom, #ff7362, #d64738);
      height: 40px !important;
      width: 35% !important; }
</style>
<form action="https://gumroad.com/follow_from_embed_form" class="form gumroad-follow-form-embed" method="post">
<input name="seller_id" value="2086268218845" type="hidden">
<input name="email" placeholder="Your email address" type="email">
<button type="submit">Subscribe</button>
</form>

</div>

	<div class="spaceship-box">
		<p>it's a spaceship is platform to launch different ideas and concepts.  It will start out as a platform to house all my ideas, businesses, and cultural projects, but I plan to expand it into an incubator and accelerator for people with cool ideas.  The first goal is to launch a new concept on an average of 30 days until I find something worth investing resources into.  Some concepts will take less than 30 days and others a little more.  Check out our first concept, <%= link_to "dailylyric.com", "http://www.dailylyric.com" %>. Most of these ideas will be tech based.  Right now I'm a team of one and hoping to grow the team over time.  Each idea will be either turn into a lifestyle business, passive income, killed off, given to a team to manage or hopefully into a high growth startup.  My overall goal is to create a platform right here in Charlotte to launch creative, tech and cultural concepts.  Right now I'm not going to put it in a box and develop the plan as I see fit.</p>

		<p>With that being said, I'm looking for creatives or whatever you want to call yourself.  I just need people looking to learn and do whatever needs to get done.  If you are looking to learn how to build apps, websites and businesses and can bring something to the table, this will be a great opportunity to be a part of something with potential to grow.  I'm looking to build a diverse team with a focus on finding minority talent.  Also looking for investors and partners to help with resources as the team and ideas expand.</p>

		<p>While working on these concepts, I will also be providing freelance services to help fund the platform.  <%= link_to "I offer web design and development work, if you looking for a dope site.", pages_home_path %>  Also a partner in the interactive agency, <%= link_to "330 Monday", "http://www.330monday.com" %>, where my partners can help with marketing and engaging with your target market.  I also have a MBA and experience working for a multibillion dollar company and can help take your business to the next level in a partnership/freelance/consulting capacity.  Also a partner in <%= link_to "Rhymes & Designs", "http://www.rhymesanddesigns.com" %>, where my partner is building a team to expand that venture and I help with tech/strategy.</p>

		<p>Like I said, this platform will house my cultural projects also like the Spiked Punch events and community <%= link_to "Art Wall", "http://anartspace.herokuapp.com/" %>.  While building dope concepts, I hope to continue to build community and expand the culture.  Make sure to sign up if you are interested in seeing what we come up with and helping out the process with feedback.</p>

		<p>CC Evans</p>

	</div>
	
		<%= image_tag 'waiting-spaceship-black2.png', :class => "block-image1" %>

				<%= image_tag 'moon-black.png', :class => "block-image2" %>


</section>