<section class="block-webdesign">

  <div class="story-box3">

      

    <h1>Program Liftoff</h1>

    <%= image_tag 'start-finish.png', :class => "block-image7" %>


  </div>

  

  <div class="projectheader">
    <span class="projectcount">12</span><span class="projecttitle">projects<br>launched</span><br>

    <div class="launchtoday">

    <a class="typeform-share link" href="https://starttoday.typeform.com/to/qkyqZx" data-mode="2" target="_blank">Launch Your Project Today</a>  
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    </div>

    <div class="liftoff-description">
      Take your business and creative projects to the next level online.  Launch your brand with an unique website, web app or ecommerce site.  Our program will handle your project from start to finish including design direction, user interactions, online strategy, backend development, etc.
      We specialized in launching new ideas and businesses. While building our own projects, we also offer to help other creatives and entrepreneurs. Program liftoff allows you to get a professional web presence in weeks. Program liftoff provides everything an entrepreneur or creative will need to advance their venture online and allow them to focus on what they love. Get a quote in 48 hours.
    </div>

   

  </div>




  <div id="vid" class="skills-box">
    <h1>Features</h1><div class="clear"></div>
    <h4>We basically provide everything you need to launch a great product online.</h4>
    <div class="clear"></div>

    <div class="feature-box">
        <%= image_tag 'itsaspaceship-feature1.png', :class => "block-image3" %>

        <p>Designed for Great User Experience</p>

    </div>

    <div class="feature-box">
        <%= image_tag 'itsaspaceship-feature2.png', :class => "block-image3" %>

        <p>Professional Layout and Graphics</p>

    </div>

    <div class="feature-box">
        <%= image_tag 'itsaspaceship-feature3.png', :class => "block-image3" %>

        <p>Business Strategy Assistance and Direction</p>

    </div>

    <div class="feature-box">
        <%= image_tag 'itsaspaceship-feature4.png', :class => "block-image3" %>

        <p>Unique Design & Experience For Your Brand</p>

    </div>

    <div class="feature-box">
        <%= image_tag 'itsaspaceship-feature5.png', :class => "block-image3" %>

        <p>Content Creation, Photography, Videography</p>

    </div>

    <div class="feature-box">
        <%= image_tag 'itsaspaceship-feature6.png', :class => "block-image3" %>

        <p>Dependable and Fast Turnaround Time</p>

    </div>


  </div>

    <div id="P1" class="player" 
     data-property="{videoURL:'https://youtu.be/sZDu5HUztOY',containment:'#vid',startAt:0,mute:true,autoPlay:true,loop:true,opacity:.5,showControls:false,addRaster:true,optimizeDisplay: true}">
  </div>

    <div class="portfolio">
      <h1>Portfolio</h1><div class="clear"></div>
    <h4>These projects my team and I enjoyed building the most.</h4>
    <div class="clear"></div>







  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
          <div class="portfolio2">
      <%= image_tag 'rnd-laptop.png', :class => "block-image6" %>
      <div class="liftoffportfolio-info">
        <h2>RhymesandDesigns.com</h2><div class="clear"></div>
        <p>Skills Used: Photography, Design, Illustrations, UX/UI, Site Archectiture, HTML, CSS, Javascript, Ruby on Rails, Ecommerce</p>

        <%= link_to 'Go To Site', 'http://www.rhymesanddesigns.com', :target => "_blank",:class => "portfolio-button" %>

      </div>
    </div>

    </div>
    <div class="item">
          <div class="portfolio2">
      <%= image_tag '330monday-laptop.png', :class => "block-image6" %>
      <div class="liftoffportfolio-info">
        <h2>330Monday.com</h2><div class="clear"></div>
        <p>Skills Used: Photography, Icons, Design, UX/UI, HTML, CSS, Javascript, Ruby on Rails</p>

        <%= link_to 'Go To Site', 'http://www.rhymesanddesigns.com', :target => "_blank", :class => "portfolio-button" %>

      </div>
    </div>
    </div>
    <div class="item">
          <div class="portfolio2">
      <%= image_tag 'duppandswat-laptop.png', :class => "block-image6" %>
      <div class="liftoffportfolio-info">
        <h2>DuppandSwat.com</h2><div class="clear"></div>
        <p>Skills Used: Photography, Design, Site Archectiture, HTML, CSS, Javascript, Wordpress, Ecommerce</p>

        <%= link_to 'Go To Site', 'http://www.duppandswat.com', :target => "_blank",:class => "portfolio-button" %>

      </div>
    </div>
    </div>
    <div class="item">
          <div class="portfolio2">
      <%= image_tag 'dailylyric-laptop.png', :class => "block-image6" %>
      <div class="liftoffportfolio-info">
        <h2>dailylyric.com</h2><div class="clear"></div>
        <p>Skills Used: UX/UI, Design, Ruby on Rails, HTML, CSS, Javascript, Ecommerce</p>

        <%= link_to 'Go To Site', 'http://www.dailylyric.com', :target => "_blank",:class => "portfolio-button" %>

      </div>
    </div>
    </div>
    <div class="item">
          <div class="portfolio2">
      <%= image_tag 'enrollhealth-laptop.png', :class => "block-image6" %>
      <div class="liftoffportfolio-info">
        <h2>enrollhealthinsurance.com</h2><div class="clear"></div>
        <p>Skills Used: UX/UI, Interactive Design, Ruby on Rails, HTML, CSS, Javascript, </p>

        <%= link_to 'Go To Site', 'http://www.enrollhealthinsurance.com', :target => "_blank",:class => "portfolio-button" %>

      </div>
    </div>
    </div>
    <div class="item">
          <div class="portfolio2">
      <%= image_tag 'checkoutclt-laptop.png', :class => "block-image6" %>
      <div class="liftoffportfolio-info">
        <h2>#checkoutclt</h2><div class="clear"></div>
        <p>Skills Used: UX/UI, Interactive Design, Ruby on Rails, HTML, CSS, Javascript, Canvas</p>

        <%= link_to 'Go To Site', 'http://www.330monday.com/pages/checkoutclt', :target => "_blank",:class => "portfolio-button" %>

      </div>
    </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>






    </div>




</section> 

<section class="block-hire">
    <div class="hire-box">
      <div class="hire-box2">
        <h1>Ready To Launch?</h1><div class="clear"></div>
        <h4>Available for freelance, contract work and business projects.</h4>
        <div class="clear"></div>

        <h2>Contact Me</h2>
        <ul>
          <li>Email at cc@ccevans.com</li>
          <li>Text at 704-458-3043</li>
          <li>
        <a class="typeform-share link" href="https://starttoday.typeform.com/to/qkyqZx" data-mode="2" target="_blank">Start Launch</a>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>


        </li>

        </ul>
      </div>

      <%= image_tag 'space-launch.png', :class => "block-image4" %>

      <h4>Learn More with these FAQs</h4>

    </div>
    <div class="hire-box">



      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Why Do You Build Websites and Web Apps?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        I always had a fascination with programming and the world of the internet.  Building websites allows me to enjoy my passion for business, design and creating something from nothing.  I truly enjoy taking a simple idea and seeing the final product.  

      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How Long Have You Been Building Websites?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        I have been creating webistes for the past 6 years and learning new skills each year.  I'm constantly learning new languages, concepts and design softwares to better my work.

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          What's Your Educational Background?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        I graduated from UNC Charlotte with a Masters in Business Administration with a focus in Marketing and Entrepreneurship.  So when it comes to building websites and web apps, I'm always thinking business strategies first.  I learned how to build and design apps and websites through online courses, mentors and by teaching myself.  Programming languages include HTML5, CSS3, Javascript and Ruby on Rails.  

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          I'm Starting A Business, How Do I Hire You For A Site?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Excited for you on this new venture.  Shoot me an email at cc@ccevans.com with your business plan, vision for website/app and budget.  Include content needed, features and as much details as possible. I'll shoot you an quote as soon as possible.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          I Don't Have A Business Plan or Vision for Website/App.
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        No problem.  Having a business plan and vision for your website/app is important in accomplishing your goals.  I can provide consulting services to help you develop a sound plan and vision to have a successful strategy for your web needs.  My rate starts at $50 an hour depending on your needs.
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Not Sure Of My Budget.  How Much Does A Website Cost?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        Like a car, websites vary on cost and depends on what you want and need.  Also like a car, you get what you pay for.  I accept projects with a minimum budget of $1,000.  Average website is between $2,500 to $5,000.
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Can You Help With Content, Photos, Illustrations and/or Videos?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        The key to any great website is having great content.  I can provide help with the creation of any content needed for the website including photos, product shots, location shots, graphics, illustrations, commercials, write ups, etc.
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading8">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
          Are You Available For Freelance Work?
        </a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
      <div class="panel-body">
        Yes, I'm available for short term projects and contract work.  Feel free to contact me to help with one of your creative projects.
      </div>
    </div>
  </div>
     <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading9">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
          Where Are You Located?
        </a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
      <div class="panel-body">
        I'm mostly in the Noda area in Charlotte, NC.  Most of my work is done remotely, so I am open to opportunities outside of NC.
      </div>
    </div>
  </div>
     <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading10">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
          I Need A Website Next Week, How Long Will It Take?
        </a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
      <div class="panel-body">
        Sure, I work day and night plus weekends sometimes.  The time frame needed depends on your needs for the website.  Most projects will take between 2-8 weeks to complete.
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading11">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
          What Platforms Do You Use To Build The Website / Web App?
        </a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
      <div class="panel-body">
        I use Wordpress and Ruby on Rails framework.  I use Wordpress for the more basic websites and blogs.  I use Ruby on Rails when you need custom and advanced features.  I don't use website templates or design templates on projects unless requested.  All my projects start with a blank sheet and coded to fit your needs.
      </div>
    </div>
  </div>

      <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading12">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
          I Need Help With Marketing Also, Can You Help?
        </a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
      <div class="panel-body">
        Absolutely.  I'm a partner in a cool agency that focuses on Interactive Exhibits to get the word out on your business at tradeshows, festivals and events.  Plus we do social media campaigns and micro sites to build your audience in an effective way.  Contact my teammates over at <%= link_to '330Monday', 'http://www.330Monday.com' %>.
      </div>
    </div>
  </div>
        <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading13">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
          What Do You Like To Do For Fun?
        </a>
      </h4>
    </div>
    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
      <div class="panel-body">
        Besides creating websites and businesses. I enjoy playing basketball; riding around Uptown on my bike; cooking on the grill; going to concerts; throwing art events; traveling and trying new things.  To name a few.
      </div>
    </div>
  </div>

</div>

    </div>




</section> 

<section class="block-story">

    <div class="story-box">
    <p>
    Lift off with us.</p>


  </div>
  
    <%= image_tag 'waiting-spaceship-black2.png', :class => "block-image1" %>

        <%= image_tag 'moon-black.png', :class => "block-image2" %>


</section>


<script>
   $(function(){
      $(".player").YTPlayer();
    });
</script>