    <% if @projects.any? %>

    <% @projects.each do |project| %>
    <ul>
    	<li><%= project.title %></li>
    	<li><%= project.description %></li>
    	<li><%= project.info %></li>
    	<li><%= project.link %></li>
    	<li><%= project.ordernumber %></li>
    	<li><%= link_to 'Edit', edit_project_path(project) %></li>
    	<li><%= link_to 'Destroy', project, method: :delete, data: {confirm: "Are you sure?" } %></li>
    </ul>
    <% end %>
    <% end %>