<!DOCTYPE html>
<html>
<head>
  <title>ccevans.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width" />

  <script src="//use.typekit.net/pxh4euk.js"></script>
<script>try{Typekit.load();}catch(e){}</script>


</head>
<body>

	<%= render 'layouts/header' %>

<%= yield %>

</body>
</html>
